#liste {
  padding-left:0;
  width:70%;
  margin: 0 auto;
  list-style-type: none;
  display: flex;
  flex-wrap:wrap;
  justify-content: space-between;
}

#liste>a {
  width: 15%;
  padding: 15px;
  margin: 10px;
  background-color: rgb(228, 228, 200);
  border: 2px solid black;
  border-radius: 10px;
}

#liste>a:hover {
  color:unset;
  background-color: rgb(238, 238, 210);
}
.bold {
  font-weight: 600;
}

form {
  width: 70%;
  margin: 20px auto;
  display:flex;
  flex-direction: row;
  padding: 0 10px;
  justify-content: flex-start;
}

.boutons {
  margin:0;
  flex:1
}

legend {
  font-size: 30px;
}

input-field {
  display:flex;
  flex-direction: row;
  justify-content:space-between;
  align-items: center;
  flex-wrap:wrap;
}