#main {
  display: flex;
  flex-direction: column;
}

#titre {
  margin-top:5%;
  font-size: 55px;
  text-align: center;
}

.no-wrap {
  text-wrap:nowrap;
}

#listes {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex:1;
}

#listes>a {
  padding: 20px;
  border: 3px solid teal;
  border-radius: 40px;
  width: 25%;
  text-decoration: none;
  height:50%;
  min-height: 120px;
  display:flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  box-shadow: 0px 0px 10px 0px teal;
  transition: width .5s,
  height .5s;
}

#listes>a:hover {
  width: 27%;
  height:59%;
  display:flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  box-shadow: 0px 0px 10px 0px teal;
}

#listes>a>h2 {
  transition: font-size .5s;
  text-align: center;
  color:chocolate;
  font-size:45px;
}
#listes>a:hover>h2 {
  transition: font-size .5s;
  font-size:50px;
}

#listes>a::after {
  content:'njfned';
  visibility: hidden;
  text-align: center;
  color:chocolate;
  font-size:45px;
  height:0;
}