
#ajout {
  margin-top: 20px;
  margin-left:auto;
  margin-right:auto;
}

#liste {
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content:space-between;
  width: 80%;
  list-style-type: none;
  margin-left:auto;
  margin-right:auto;
}

.medecin {
  width:20%;
  margin:10px;
  font-family: sans-serif;
  font-size: 20px;
  border: 2px solid rgb(8,15,60);
  padding: 15px;
  border-radius: 15px;
  text-decoration: none;
  background-color: rgba(127, 255, 212, 0.705);
  align-items: center;
}

.medecin>li {
  color: black;
  text-align: center;
}

.medecin>li>span{ 
  font-size: 15px;
}